Meteo/mto_current.txt
[{"id":"414299f3.34b898","type":"tab","label":"MTO","disabled":false,"info":""},{"id":"7ebb3ef7.f0aa48","type":"darksky-credentials","z":"","key_identifier":"coelan-darksky"},{"id":"e465149d.6d75f","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":"TempDB","usetls":false,"tls":""},{"id":"260fca49.d7ae4e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":"humiditeDB","usetls":false,"tls":""},{"id":"9bb23dbb.73ef78","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"pression","name":"pressionDB","usetls":false,"tls":""},{"id":"2ed1e272.e16e36","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"pluie","name":"pluieDB","usetls":false,"tls":""},{"id":"ae402b3a.f223b","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"windd","name":"winddDB","usetls":false,"tls":""},{"id":"68f52c29.04acbc","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"nuage","name":"nuageDB","usetls":false,"tls":""},{"id":"794cb15a.b3b91","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"winds","name":"windsDB","usetls":false,"tls":""},{"id":"f2588ae3.17e538","type":"inject","z":"414299f3.34b898","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["7fae39da.6cf3e"]]},{"id":"e874dcf3.afd65","type":"darksky","z":"414299f3.34b898","darksky":"7ebb3ef7.f0aa48","name":"Demain-Paris","lon":"2.3488000","lat":"48.8534100","date":"","time":"","mode":"node","lang":"fr","units":"si","x":340,"y":120,"wires":[["91729ce9.026d9","af6ad378.94db68","c4d21cd0.7eee3","9acfce0c.ea85d","776aef4f.3cef2","174e8e23.206332","245f38f.5f566c8"]]},{"id":"7fae39da.6cf3e","type":"openweathermap","z":"414299f3.34b898","name":"Current-Paris","wtype":"current","lon":"","lat":"","city":"Paris","country":"FR","language":"fr","x":330,"y":480,"wires":[["2845b8b0.634b4","38b3d55e.31b1ca","a25449f7.d3ecc8","e7d158e0.019b2"]]},{"id":"2845b8b0.634b4","type":"function","z":"414299f3.34b898","name":"TempC","func":"msg.payload = msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["f41a78ea.addeb8"]]},{"id":"38b3d55e.31b1ca","type":"function","z":"414299f3.34b898","name":"HumiditeC","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["12046f82.c3e28"]]},{"id":"a25449f7.d3ecc8","type":"function","z":"414299f3.34b898","name":"PressionC","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["e2d4649f.406468"]]},{"id":"e7d158e0.019b2","type":"function","z":"414299f3.34b898","name":"WindSC","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":600,"wires":[["91cb3fe7.e2af8","96a45973.dc9c58"]]},{"id":"91729ce9.026d9","type":"function","z":"414299f3.34b898","name":"TempMaxF","func":"msg.payload = msg.payload.maxtemp;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["a846b128.7afab"]]},{"id":"c4d21cd0.7eee3","type":"function","z":"414299f3.34b898","name":"HumiditeF","func":"msg.payload = msg.payload.humidity *100;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["12503938.2ebc3f"]]},{"id":"9acfce0c.ea85d","type":"function","z":"414299f3.34b898","name":"WindSF","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["6555ae3c.ad8588"]]},{"id":"776aef4f.3cef2","type":"function","z":"414299f3.34b898","name":"WindDF","func":"msg.payload = msg.payload.winddirection;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["1ddeba1c.45376e"]]},{"id":"96a45973.dc9c58","type":"debug","z":"414299f3.34b898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":60,"wires":[]},{"id":"af6ad378.94db68","type":"function","z":"414299f3.34b898","name":"TempMinF","func":"msg.payload = msg.payload.mintemp;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["f72a7337.b703b"]]},{"id":"f41a78ea.addeb8","type":"influxdb out","z":"414299f3.34b898","influxdb":"e465149d.6d75f","name":"tempc_paris","measurement":"tempc_paris","precision":"","retentionPolicy":"","x":890,"y":480,"wires":[]},{"id":"12046f82.c3e28","type":"influxdb out","z":"414299f3.34b898","influxdb":"260fca49.d7ae4e","name":"humc_paris","measurement":"humc_paris","precision":"","retentionPolicy":"","x":890,"y":520,"wires":[]},{"id":"e2d4649f.406468","type":"influxdb out","z":"414299f3.34b898","influxdb":"9bb23dbb.73ef78","name":"pressionc_paris","measurement":"pressionc_paris","precision":"","retentionPolicy":"","x":900,"y":560,"wires":[]},{"id":"91cb3fe7.e2af8","type":"influxdb out","z":"414299f3.34b898","influxdb":"794cb15a.b3b91","name":"windsc_paris","measurement":"windsc_paris","precision":"","retentionPolicy":"","x":890,"y":600,"wires":[]},{"id":"5f3fe6bb.0436f8","type":"influxdb out","z":"414299f3.34b898","influxdb":"ae402b3a.f223b","name":"winddc_paris","measurement":"winddc_paris","precision":"","retentionPolicy":"","x":890,"y":640,"wires":[]},{"id":"a846b128.7afab","type":"influxdb out","z":"414299f3.34b898","influxdb":"e465149d.6d75f","name":"tempmaxf_paris","measurement":"tempmaxf_paris","precision":"","retentionPolicy":"","x":900,"y":120,"wires":[]},{"id":"12503938.2ebc3f","type":"influxdb out","z":"414299f3.34b898","influxdb":"260fca49.d7ae4e","name":"humf_paris","measurement":"humf_paris","precision":"","retentionPolicy":"","x":890,"y":200,"wires":[]},{"id":"6555ae3c.ad8588","type":"influxdb out","z":"414299f3.34b898","influxdb":"2ed1e272.e16e36","name":"windsf_paris","measurement":"windsf_paris","precision":"","retentionPolicy":"","x":890,"y":240,"wires":[]},{"id":"1ddeba1c.45376e","type":"influxdb out","z":"414299f3.34b898","influxdb":"ae402b3a.f223b","name":"winddf_paris","measurement":"winddf_paris","precision":"","retentionPolicy":"","x":890,"y":280,"wires":[]},{"id":"f72a7337.b703b","type":"influxdb out","z":"414299f3.34b898","influxdb":"e465149d.6d75f","name":"tempminf_paris","measurement":"tempminf_paris","precision":"","retentionPolicy":"","x":900,"y":160,"wires":[]},{"id":"174e8e23.206332","type":"function","z":"414299f3.34b898","name":"PluieF","func":"msg.payload = msg.payload.precipitation;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["f2e166e0.8dab88"]]},{"id":"245f38f.5f566c8","type":"function","z":"414299f3.34b898","name":"NuagesF","func":"msg.payload = msg.payload.clouds;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["c7eb4d90.73dc78"]]},{"id":"f2e166e0.8dab88","type":"influxdb out","z":"414299f3.34b898","influxdb":"2ed1e272.e16e36","name":"pluief_paris","measurement":"pluief_paris","precision":"","retentionPolicy":"","x":890,"y":320,"wires":[]},{"id":"c7eb4d90.73dc78","type":"influxdb out","z":"414299f3.34b898","influxdb":"68f52c29.04acbc","name":"nuagef_paris","measurement":"nuagef_paris","precision":"","retentionPolicy":"","x":890,"y":360,"wires":[]}]
