Meteo/mto_forecast.txt
[{"id":"bf544045.f44a3","type":"tab","label":"MTO-Forecast","disabled":false,"info":""},{"id":"c76bbfae.4671b8","type":"inject","z":"bf544045.f44a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["ad2aa00d.f8293"]]},{"id":"ad2aa00d.f8293","type":"openweathermap","z":"bf544045.f44a3","name":"Forecast PARIS","wtype":"forecast","lon":"","lat":"","city":"paris","country":"fr","language":"fr","x":340,"y":360,"wires":[["3af6c7c5.b72ff","a7fbce92.c036e8","63dce651.3d9d98","5021e31c.685bac","46cb031e.8d1c8c","786c0c1f.45c044","e91784ed.f8357","3bbcaca0.35a12c","3c02898b.fd51e6","7a59e014.f942","4b7ecdaf.d681ac"]]},{"id":"3af6c7c5.b72ff","type":"debug","z":"bf544045.f44a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":120,"wires":[]},{"id":"a7fbce92.c036e8","type":"function","z":"bf544045.f44a3","name":"Time H6","func":"msg.payload = msg.payload[2].dt_txt;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["adffa1a5.6fe338"]]},{"id":"8e4a3110.86c3f8","type":"comment","z":"bf544045.f44a3","name":"","info":"fc9a11431d41c2e6b182a441ca5165e3","x":120,"y":80,"wires":[]},{"id":"adffa1a5.6fe338","type":"ui_text","z":"bf544045.f44a3","group":"676327da.99b308","order":1,"width":"6","height":"1","name":"Time H6","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":180,"wires":[]},{"id":"63dce651.3d9d98","type":"function","z":"bf544045.f44a3","name":"MTO-H6","func":"msg.payload = \"Météo : \" + msg.payload[2].weather[0].description + \"<br>Temp : \" + msg.payload[2].main.temp + \" °C\" + \"<br>Humi. :\" + msg.payload[2].main.humidity + \" %\" + \"<br>Vents : \" + msg.payload[2].wind.speed + \" m/s\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["fbedda01.524dc8"]]},{"id":"fbedda01.524dc8","type":"ui_text","z":"bf544045.f44a3","group":"676327da.99b308","order":2,"width":"6","height":"3","name":"MTO-H6","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":220,"wires":[]},{"id":"5021e31c.685bac","type":"function","z":"bf544045.f44a3","name":"Time H12","func":"msg.payload = msg.payload[4].dt_txt;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["27928ae1.81fdde"]]},{"id":"46cb031e.8d1c8c","type":"function","z":"bf544045.f44a3","name":"MTO-H12","func":"msg.payload = \"Météo : \" + msg.payload[4].weather[0].description + \"<br>Temp : \" + msg.payload[4].main.temp + \" °C\" + \"<br>Humi. :\" + msg.payload[4].main.humidity + \" %\" + \"<br>Vents : \" + msg.payload[4].wind.speed + \" m/s\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["ae912644.ac9bb"]]},{"id":"786c0c1f.45c044","type":"function","z":"bf544045.f44a3","name":"Time H18","func":"msg.payload = msg.payload[6].dt_txt;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["bf2b0b19.5bf578"]]},{"id":"bf2b0b19.5bf578","type":"ui_text","z":"bf544045.f44a3","group":"6194e519.650674","order":1,"width":"6","height":"1","name":"Time H18","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":380,"wires":[]},{"id":"e91784ed.f8357","type":"function","z":"bf544045.f44a3","name":"MTO-H18","func":"msg.payload = \"Météo : \" + msg.payload[6].weather[0].description + \"<br>Temp : \" + msg.payload[6].main.temp + \" °C\" + \"<br>Humi. :\" + msg.payload[6].main.humidity + \" %\" + \"<br>Vents : \" + msg.payload[6].wind.speed + \" m/s\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["15520479.74ee4c"]]},{"id":"15520479.74ee4c","type":"ui_text","z":"bf544045.f44a3","group":"6194e519.650674","order":3,"width":"6","height":"3","name":"MTO-H18","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":420,"wires":[]},{"id":"3bbcaca0.35a12c","type":"function","z":"bf544045.f44a3","name":"Time H24","func":"msg.payload = msg.payload[8].dt_txt;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["bd81df5c.31c078"]]},{"id":"bd81df5c.31c078","type":"ui_text","z":"bf544045.f44a3","group":"27b1aff3.ed8558","order":1,"width":"6","height":"1","name":"Time H24","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":480,"wires":[]},{"id":"3c02898b.fd51e6","type":"function","z":"bf544045.f44a3","name":"MTO-H24","func":"msg.payload = \"Météo : \" + msg.payload[8].weather[0].description + \"<br>Temp : \" + msg.payload[8].main.temp + \" °C\" + \"<br>Humi. :\" + msg.payload[8].main.humidity + \" %\" + \"<br>Vents : \" + msg.payload[8].wind.speed + \" m/s\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":520,"wires":[["506a64d3.ffab6c"]]},{"id":"506a64d3.ffab6c","type":"ui_text","z":"bf544045.f44a3","group":"27b1aff3.ed8558","order":3,"width":"6","height":"3","name":"MTO-H24","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":520,"wires":[]},{"id":"27928ae1.81fdde","type":"ui_text","z":"bf544045.f44a3","group":"89736451.172c5","order":1,"width":"6","height":"1","name":"Time H12","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":280,"wires":[]},{"id":"ae912644.ac9bb","type":"ui_text","z":"bf544045.f44a3","group":"89736451.172c5","order":2,"width":"6","height":"3","name":"MTO-H12","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":320,"wires":[]},{"id":"7a59e014.f942","type":"function","z":"bf544045.f44a3","name":"Time J2","func":"msg.payload = msg.payload[16].dt_txt;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":580,"wires":[["785e8fa8.3e9bc8"]]},{"id":"785e8fa8.3e9bc8","type":"ui_text","z":"bf544045.f44a3","group":"5df4eba6.60c454","order":1,"width":"6","height":"1","name":"Time J2","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":580,"wires":[]},{"id":"4b7ecdaf.d681ac","type":"function","z":"bf544045.f44a3","name":"MTO-J2","func":"msg.payload = \"Météo : \" + msg.payload[16].weather[0].description + \"<br>Temp : \" + msg.payload[16].main.temp + \" °C\" + \"<br>Humi. :\" + msg.payload[16].main.humidity + \" %\" + \"<br>Vents : \" + msg.payload[16].wind.speed + \" m/s\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["48d80e10.ba76f"]]},{"id":"48d80e10.ba76f","type":"ui_text","z":"bf544045.f44a3","group":"5df4eba6.60c454","order":3,"width":"6","height":"3","name":"MTO-J2","label":"","format":"{{msg.payload}}","layout":"col-center","x":840,"y":620,"wires":[]},{"id":"676327da.99b308","type":"ui_group","z":"","name":"Méteo H+6","tab":"2f650871.2397a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6194e519.650674","type":"ui_group","z":"","name":"Météo H+18","tab":"2f650871.2397a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"27b1aff3.ed8558","type":"ui_group","z":"","name":"Météo H+24","tab":"2f650871.2397a8","order":4,"disp":true,"width":"6","collapse":false},{"id":"89736451.172c5","type":"ui_group","z":"","name":"Météo H+12","tab":"2f650871.2397a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5df4eba6.60c454","type":"ui_group","z":"","name":"J+2","tab":"2f650871.2397a8","order":5,"disp":true,"width":"6","collapse":false},{"id":"2f650871.2397a8","type":"ui_tab","z":"","name":"Forecast","icon":"dashboard","order":2}]
