Meteo/mto_current.txt
[{"id":"e66b0bd2.1c84b","type":"tab","label":"MTO-Current","disabled":false,"info":""},{"id":"2bffc10b.29923e","type":"inject","z":"e66b0bd2.1c84b","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["d125ced4.7174d8","963cae53.21bfd","709a33eb.514a94"]]},{"id":"d125ced4.7174d8","type":"openweathermap","z":"e66b0bd2.1c84b","name":"Current PARIS","wtype":"current","lon":"","lat":"","city":"paris","country":"fr","language":"fr","x":420,"y":300,"wires":[["658f8154.511208","6fc0ac5f.8b29fc","85a33ee8.59587","92526dd1.402f08","78dcbbb6.7f671c","bf213779.76eb9"]]},{"id":"955a4f42.4abcd","type":"debug","z":"e66b0bd2.1c84b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":100,"wires":[]},{"id":"658f8154.511208","type":"function","z":"e66b0bd2.1c84b","name":"METAR","func":"msg.payload = \"Le temps à \" + msg.payload.location + \" est \" + msg.payload.detail + \".\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":220,"wires":[["668a1031.54a078"]]},{"id":"99998a1a.751f38","type":"comment","z":"e66b0bd2.1c84b","name":"","info":"fc9a11431d41c2e6b182a441ca5165e3","x":160,"y":120,"wires":[]},{"id":"668a1031.54a078","type":"ui_text","z":"e66b0bd2.1c84b","group":"8910bcc6.f3cfe","order":2,"width":0,"height":0,"name":"METAR","label":"","format":"{{msg.payload}}","layout":"col-center","x":880,"y":220,"wires":[]},{"id":"6fc0ac5f.8b29fc","type":"function","z":"e66b0bd2.1c84b","name":"Temp","func":"msg.payload = msg.payload.tempc + \"°C\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["f3e8d6e0.94a478"]]},{"id":"85a33ee8.59587","type":"function","z":"e66b0bd2.1c84b","name":"Humidité","func":"msg.payload = msg.payload.humidity + \"%\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":340,"wires":[["f7adb55d.0c9bb8"]]},{"id":"92526dd1.402f08","type":"function","z":"e66b0bd2.1c84b","name":"WindS","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["7f60cd43.3320fc"]]},{"id":"f3e8d6e0.94a478","type":"ui_gauge","z":"e66b0bd2.1c84b","name":"TempC","group":"8910bcc6.f3cfe","order":4,"width":0,"height":0,"gtype":"gage","title":"Température","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#E6E600","#00B500","#CA3838"],"seg1":"10","seg2":"30","x":880,"y":300,"wires":[]},{"id":"f7adb55d.0c9bb8","type":"ui_gauge","z":"e66b0bd2.1c84b","name":"Humidité","group":"8910bcc6.f3cfe","order":5,"width":0,"height":0,"gtype":"gage","title":"Humidité","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#E6E600","#00B500","#CA3838"],"seg1":"50","seg2":"90","x":880,"y":340,"wires":[]},{"id":"7f60cd43.3320fc","type":"ui_gauge","z":"e66b0bd2.1c84b","name":"WindS","group":"8910bcc6.f3cfe","order":6,"width":0,"height":0,"gtype":"gage","title":"Vent","label":"m/s","format":"{{value}}","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"30","seg2":"50","x":870,"y":380,"wires":[]},{"id":"78dcbbb6.7f671c","type":"function","z":"e66b0bd2.1c84b","name":"WindDir","func":"msg.payload = msg.payload.winddirection;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":420,"wires":[["f03260f1.04c448"]]},{"id":"f03260f1.04c448","type":"ui_gauge","z":"e66b0bd2.1c84b","name":"WindDir","group":"8910bcc6.f3cfe","order":7,"width":0,"height":0,"gtype":"compass","title":"Direction","label":"°","format":"{{value}}","min":0,"max":"360","colors":["#00B500","#E6E600","#CA3838"],"seg1":"30","seg2":"50","x":880,"y":420,"wires":[]},{"id":"5c4b50.13f67cb","type":"ui_text","z":"e66b0bd2.1c84b","group":"8910bcc6.f3cfe","order":1,"width":"6","height":"1","name":"TimeStamp","label":"","format":"{{msg.payload}}","layout":"col-center","x":890,"y":180,"wires":[]},{"id":"963cae53.21bfd","type":"moment","z":"e66b0bd2.1c84b","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd DD MMM YYYY - HH:mm:ss","locale":"fr_FR","output":"","outputType":"msg","outTz":"Europe/Paris","x":680,"y":180,"wires":[["5c4b50.13f67cb"]]},{"id":"95f7aecb.01e4a","type":"ui_text","z":"e66b0bd2.1c84b","group":"8910bcc6.f3cfe","order":3,"width":"6","height":"1","name":"Separ.","label":"","format":"-------------------------------------","layout":"row-spread","x":870,"y":260,"wires":[]},{"id":"709a33eb.514a94","type":"openweathermap","z":"e66b0bd2.1c84b","name":"Stats PARIS","wtype":"current","lon":"","lat":"","city":"paris","country":"fr","language":"fr","x":410,"y":540,"wires":[["e8608369.376398","dd9d7dd6.c1c35","ef5774ae.fbb518","ba338c83.884f38"]]},{"id":"e8608369.376398","type":"function","z":"e66b0bd2.1c84b","name":"Temp","func":"msg.payload = msg.payload.tempc + \"°C\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["6da23a62.e2d574"]]},{"id":"dd9d7dd6.c1c35","type":"function","z":"e66b0bd2.1c84b","name":"Humidité","func":"msg.payload = msg.payload.humidity + \"%\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":580,"wires":[["1026762f.b72a2a"]]},{"id":"ef5774ae.fbb518","type":"function","z":"e66b0bd2.1c84b","name":"WindS","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["2f320742.4b5aa"]]},{"id":"ba338c83.884f38","type":"function","z":"e66b0bd2.1c84b","name":"Pression","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":660,"wires":[["bba6819e.1d7738"]]},{"id":"6da23a62.e2d574","type":"ui_chart","z":"e66b0bd2.1c84b","name":"","group":"74f8b96a.f64a08","order":1,"width":0,"height":0,"label":"Temp 24H","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":890,"y":540,"wires":[[],[]]},{"id":"1026762f.b72a2a","type":"ui_chart","z":"e66b0bd2.1c84b","name":"","group":"74f8b96a.f64a08","order":1,"width":0,"height":0,"label":"Humidité 24H","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":900,"y":580,"wires":[[],[]]},{"id":"2f320742.4b5aa","type":"ui_chart","z":"e66b0bd2.1c84b","name":"","group":"74f8b96a.f64a08","order":1,"width":0,"height":0,"label":"Vents 24H","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":890,"y":620,"wires":[[],[]]},{"id":"bba6819e.1d7738","type":"ui_chart","z":"e66b0bd2.1c84b","name":"","group":"74f8b96a.f64a08","order":1,"width":0,"height":0,"label":"Pression 24H","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"990","ymax":"1040","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":900,"y":660,"wires":[[],[]]},{"id":"7b696152.a426a","type":"moment","z":"e66b0bd2.1c84b","name":"Sunrise","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":"1","adjType":"hours","adjDir":"add","format":"","locale":"fr_FR","output":"","outputType":"msg","outTz":"Europe/Paris","x":760,"y":480,"wires":[["955a4f42.4abcd"]]},{"id":"bf213779.76eb9","type":"function","z":"e66b0bd2.1c84b","name":"Sunrise","func":"msg.payload = msg.payload.sunrise;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["7b696152.a426a"]]},{"id":"8910bcc6.f3cfe","type":"ui_group","z":"","name":"METAR","tab":"893193e7.954c7","order":1,"disp":true,"width":"6","collapse":false},{"id":"74f8b96a.f64a08","type":"ui_group","z":"","name":"Statistiques","tab":"893193e7.954c7","order":2,"disp":true,"width":"6","collapse":false},{"id":"893193e7.954c7","type":"ui_tab","z":"","name":"Meteo","icon":"dashboard","order":1}]
